/packages
/Ariane.v11.suo
/Ariane.Tests/bin
/Ariane.Tests/obj
/Ariane/bin
/Ariane/obj
/Ariane.Tests.Server/bin
/Ariane.Tests.Server/obj
/Ariane.Tests/connectionStrings.config
/Ariane.Tests/queue
/*.suo

/Ariane.Azure/bin
/Ariane.Azure/obj

/Ariane.Tests/connectionStrings.config
/TestResults
