<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="test.msmq" connectionString=".\Private$\typedtest"/>
		<add name="test2.msmq" connectionString=".\Private$\typedtest2"/>
		<add name="test3.msmq" connectionString=".\Private$\typedtest3"/>
		<add name="test4.msmq" connectionString=".\Private$\typedtest4"/>
		<add name="test5.msmq" connectionString=".\Private$\typedtest5"/>
		<add name="test6.msmq" connectionString=".\Private$\typedtest6"/>
		<add name="dynamic.msmq" connectionString=".\Private$\dynamictest"/>
		<add name="expando.msmq" connectionString=".\Private$\expandotest"/>
		<add name="test.file" connectionString=".\queue"/>
	</connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
