<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="test.msmq" connectionString=".\Private$\typedtest"/>
		<add name="dynamic.msmq" connectionString=".\Private$\dynamictest"/>
		<add name="expando.msmq" connectionString=".\Private$\expandotest"/>
	</connectionStrings>
</configuration>