<connectionStrings>
	<add name="test.msmq" connectionString=".\Private$\typedtest"/>
	<add name="dynamic.msmq" connectionString=".\Private$\dynamictest"/>
	<add name="expando.msmq" connectionString=".\Private$\expandotest"/>
	<add name="test.azure" connectionString="Endpoint=sb://ariane.servicebus.windows.net/;SharedSecretIssuer=owner;SharedSecretValue=5ojHYZUPrELr3AM8idD/u6oCXzM4R4uKX1okeI7731k="/>
	<add name="test.file" connectionString="E:\S3\Codeplex\Ariane\Ariane.Tests\queue"/>
</connectionStrings>
